<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier l'entrée</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .input-shadow {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        }
    </style>
</head>
<body class="bg-blue-200 flex flex-col justify-center items-center h-screen">

    <h2 class="text-2xl font-bold mb-4">Modifier l'entrée</h2>

    <div class="max-w-lg w-full bg-white p-8 rounded-lg shadow-lg mb-8">
        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="name" class="block text-sm font-bold mb-2">Nom :</label>
                <input type="text" name="name" id="name" value="{{ form.name.value }}" class="input-shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="url" class="block text-sm font-bold mb-2">URL :</label>
                <input type="text" name="url" id="url" value="{{ form.url.value }}" class="input-shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="pseudonym" class="block text-sm font-bold mb-2">Pseudonyme :</label>
                <input type="text" name="pseudonym" id="pseudonym" value="{{ form.pseudonym.value }}" class="input-shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-bold mb-2">Mot de passe :</label>
                <div class="flex">
                    <input type="text" name="password" id="password" value="{{ form.password.value }}" class="input-shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <button type="button" id="generatePassword" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2">Générer</button>
                </div>
            </div>
            
            
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
            <a href="{% url 'index' %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Retour à la liste des sites</a>
        </form>
    </div>

</body>
</html>

<script>
    document.getElementById("generatePassword").addEventListener("click", function() {
        // Générer un mot de passe aléatoire
        var passwordLength = 15; // Longueur du mot de passe
        var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"; // Caractères utilisés pour générer le mot de passe
        var password = "";
        for (var i = 0; i < passwordLength; i++) {
            var randomIndex = Math.floor(Math.random() * charset.length);
            password += charset[randomIndex];
        }
        
        // Remplir le champ "Mot de passe" avec le mot de passe généré
        document.getElementById("password").value = password;
    });
    </script>
